
/* padding calc. instead of adding*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* custom properties */
:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Sans Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light:#fff;
    --clr-dark: #000000;
    --clr-accent: #21a262;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
    0.125em 0.125em 0.25em rgba(0,0,0,.15);;

}

/* larger screen size*/
@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* general styles */

html {
    scroll-behavior: smooth;
}

body {
    background: black url("/img/bgnew.jpg");
    color: var(--clr-light);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}


section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
    object-fit: contain;
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}
/* buttons */

.btn {
    display: inline-block;
    padding:1em 4em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;

    margin-top: 2em;
}

.btn:hover {
    transform: scale(1.1);
}

/* Typography */

strong { font-weight: var(--fw-bold)}

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1)}
h2 { font-size: var(--fs-h2)}
h3 { font-size: var(--fs-h3)}

.section__title {
    margin-bottom: .25em;
}

.section__title--intro {
    font-weight: var(--fw-reg);

}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);

}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo {
    max-width: 100px;
}

.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-accent);
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    /* hand icon */
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav {
    /* slides nav over screen*/
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::after {
    opacity: 0;
}

/* turns hamburger icon into x when it rotates */
/* -6px to align with hamburger size */
.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

/* 6px because hamburger will have a height of 3px and empty space of 3px */
.hamburger::before{ top: 6px;}
.hamburger::after{ bottom: 6px;}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}



/* intro section */

.intro {
    position: relative;
}

.into__img {
    box-shadow: var(--bs);

}


@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }
}

.intro__img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
}

.section__subtitle--intro {
    align-self: start;
    grid-column: -1/1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
}

/* about */
.profile__blurb {
    font-size: var(--fs-h3);
    font-weight: var(--fw-reg);
    text-align: left;
    margin-left: 5em;
    margin-right: 5em;
}

/* skills icon */
/*
.skills__section {
    display: flex;
    justify-content: center;

}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 10px 50px 50px;

}
*/
/* Create four equal columns that sits next to each other
.column {
    flex: 10%;
    max-width: 50%;
    padding: 0 1px;

}

.column img {
    margin-top: 20px;
    vertical-align: auto;
    height: 60px;
    width: auto;

    }

.skills__item-name {
    font-size: 1em;
    font-weight: 600;
    line-height: 1;
    display: flex;

}

 */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.skills-section{
    padding-top: 20px;
}

.skills-header{
    text-align: center;
    color: #fff;
    padding: 1rem;
    position: relative;
}

.skills-header:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 4px;
    background-color: #2ecc71;
    border-radius: 2px;
}

.skills-container{
    display: grid;
    grid-tempLate-columns: repeat(5, 1fr);
    justify-content:center;
    align-items:center;
    text-align: center;
    grid-gap:1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
}
.skills-box{
    padding: 1rem;
    color: #000;
    cursor:pointer;
}

.skills-box:hover .skills-img{
    transform: translateX(-20px);
}

.skills-title{
    display:flex;
    flex-direction: column;
    align-items:center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}

.skills-title:after{
    content: '';
    position:absolute;
    bottom: 0;
    rigth: 50%;
    width:20px;
    height:4px;
    border-radius: 2px 0 0 2px;
    background-color: #2ecc71;
    transition: .5s;
}

.skills-title:before{
    content: '';
    position:absolute;
    bottom: 0;
    left: 50%;
    width:100px;
    height:4px;
    border-radius: 0 2px 2px 0;
    background-color: #2ecc71;
}

.skills-icons{
    width:50px;
    z-index:2;
}

.skills-img{
    width:90px;
    height:90px;
    position: relative;
    border-radius: 45px;
    background-color: #fff;
    display:flex;
    justify-content:center;
    align-items:center;
    transition: .5s;
}

.skills-img:after{
    content: '';
    position:absolute;
    top:0;
    left: 0;
    width:50%;
    height:90px;
    background: rgba(100, 100, 100, 0.5);
    border-radius: 45px 0 0 45px;
}
.skills-title h3{
    color: #737171;
    margin-top: 0.5rem;
}
@media screen and (max-width:990px){
    .skills-container{
        grid-tempLate-columns: repeat(2, 1fr);
        padding: 2rem 50px;
    }
}

@media screen and (max-width:650px){
    .skills-container{
        grid-tempLate-columns:2fr;
        padding: 2rem 50px;
    }
}




/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}


/* my services section */

.my-services {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    background-blend-mode: multiply;
    text-align: center;
}

.section__title--services {
    color: var(--clr-accent);
    position: relative;
}

.section__title--services::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.service {
    margin-bottom: 4em;
}

.service {
    max-width: 500px;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .service + .service {
        margin-left: 2em;
    }
}

.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas:
                "title img"
                "subtitle img"
                "text img";
        grid-column-gap: 2em;
    }

    .section__title--about {
        grid-area: title;
    }

    .section__subtitle--about {
        /* starts at top and ends in last row automatically */
        grid-column: 1/-1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        /* text will not touch image */
        padding-right: calc(200px + 4em);
    }

    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}

/* my work section */

.my-work {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}

.section__subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
}

.portfolio {
    padding-top: 40px;
    display: grid;
    /* create columns based on size of screen*/
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item {
    background: var(--clr-accent);
    overflow: hidden;
}

.portfolio__img {
    transition:
    transform 750ms cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
    transform: scale(1.2);
    opacity: .75;
}

.project__description {
    position: relative;
    margin-top: 1rem;
    font-size: 15px;
    font-weight: 500;

    z-index: 999909999;
}
@media (max-width: 560px) {
    .project__description {
        margin-top: 2rem;
    }
}

.project__title {
    position: relative;
    z-index: 66;
    font-size: var(--fs-h3);
// font-weight: 700;
}

.project__info {
    display: grid;
    text-align: left;
    top: 2rem;

    height: fit-content;
    padding: 1rem;
    z-index: 9999999;

}

.project__code {
    display: inline-block;
    padding:.3em 2em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;

    margin-top: 2em;

}

.project__code:hover {
    transform: scale(1.1);
}


/* footer section */

.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.foot__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding:0;
}

social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}

html,
body {
    margin: 0;
    padding: 0;
}

.background {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
}

/* /particles */
/*
 .particles__background--back {
     position: fixed;
     width: 100%;
     z-index: -2;
 }*/

/* ---- stats.js ---- */

.count-particles{
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13e8e9;
    font-size: 0.8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles{
    font-size: 1.1em;
}

#stats,
.count-particles{
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats{
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles{
    border-radius: 0 0 3px 3px;

}


/* ---- particles.js container ---- */

#particles-js{
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: 0;

}


/* stop edit */
html,body{
    width:100%;
    height:100%;

}

html{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
    font:normal 75% Arial, Helvetica, sans-serif;
}

canvas{
    display:block;
    vertical-align:bottom;
}



/* contact */

.contact {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    z-index: 10;

    margin-bottom: 10rem;
}

@media (max-width: 700px) {
    .contact {
        width: 400px;
    }
}

@media (max-width: 470px) {
    .contact {
        width: 330px;
    }
}

@media (max-width: 400px) {
    .contact {
        width: 260px;
    }
}

.contact__heading {
    margin-top: 1rem !important;
    margin-bottom: 3rem !important;
    color: var(--clr-accent);
}

.contact__heading:before {
    position: absolute;
    content: '';
    width: auto;
    display: block;
    margin: 0 auto;
    position: relative;
    left: 3.5rem;
    top: 6.3rem;
    font-size: var(--fs-h1);

    z-index: -1;
}

@media (max-width: 770px) {
    .contact__heading:before {
    }
}

.contact__text {
    font-size: 1.8rem;
    margin-bottom: 6rem;
}

.contact__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact__form-name,
.contact__form-email {
    margin-bottom: 6px;
    padding: 1rem;
    height: 4rem;
}

.contact__form-message {
    height: 12rem;
    padding: 1rem;
}

.contact__form-submit {
    align-self: flex-start;
    position: relative;
    padding: 0.6rem 1rem;
    width: fit-content;

    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    z-index: 9;
    cursor: pointer;
}

.contact__form-submit:hover {
    color: black;
    font-weight: 700;
}

.contact__form-submit:after {
    position: absolute;
    content: '';
    border-bottom: 2px solid red;

    width: calc(100% + 2rem);
// height: 100%;
    left: -14%;
    top: 0.5rem;
    display: block;
    margin: 0 auto;
    position: relative;

    transform-origin: bottom;
    transition: all 0.2s;

// left: -8rem;

    z-index: -1

}

.contact__form-submit:hover:after {
    transform: scaleY(17.5);
}

@media (max-width: 1500px) {
    .contact__form-submit:hover:after {
        transform: scaleY(16.5);
    }
}

@media (max-width: 1200px) {
    .contact__form-submit:hover:after {
        transform: scaleY(14);
    }
}

@media (max-width: 770px) {
    .contact__form-submit:hover:after {
        transform: scaleY(12.5);
    }
}

.contact__form input,
.contact__form textarea {
    width: 500px;
    resize: none;
    border: none;
    color: inherit;
    background-color: var(--clr-light);
    font-size: 1.6rem;
    font-family: monserrat, sans-serif;

    border-left: 2px solid transparent;

    border-radius: 0;
}

@media (max-width: 700px) {
    .contact__form input,
    .contact__form textarea {
        width: 400px;
    }
}

@media (max-width: 470px) {
    .contact__form input,
    .contact__form textarea {
        width: 330px;
    }
}

@media (max-width: 400px) {
    .contact__form input,
    .contact__form textarea {
        width: 260px;
    }
}

.contact__form input:focus,
.contact__form textarea:focus {
    outline: none;
}

.contact__form input::placeholder,
.contact__form textarea::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: red;
    opacity: 1; /* Firefox */

}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: red;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: red;
}

.contact__form-error-submit {
    margin-top: 1.5rem;
    height: 7rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-error {
    align-self: start;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
}
.form-error > * {
    display: none;
}

.input-error {
    border-left: 2px solid red !important;

}









